{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table { border-collapse: collapse; width: 100%; margin-top: 20px; }
    th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
</style>




    {# ***************************************
 
 
                    Page de test
 
 
    ***************************************  #}




    <h2>Data from API:</h2>

    <input type="text" value="{{ app.session.get('idConnexion') }}">


    {# Récupération de la liste de tout les joueurs #}
    <div class="example-wrapper">
        <h2>Data from API:</h2>
        <div id="divListeJoueur"></div>
        <script src="{{ asset('js/appelApi.js') }}" data-api-option="getListe"></script>
    </div>


    {# Cette requête permet de faire appel à une fonction par appuisur un boutton #}
    {# <div class="example-wrapper">
        <h2>Appel de l'api</h2>
        <button id="executeApiButton">Execute API Script</button>
    </div> #}


    <div class="example-wrapper">
        <h2>Récupération des données d'un compte</h2>
        <div id="affichageFicheJoeur"></div>
    </div>


    {# Supression d'un compte #}
   
    <div class="example-wrapper">
        <h2>Supprimer un user</h2>
        <input type="text" id="inputIdSupression" placeholder="idSupression" />
        <button id="boutonSupressionUser">Supprimer un user</button>
    </div>


    {# Création d'un match lié à un utilisateur avec ses statistiques #}
    <div class="example-wrapper">
        <h2>Supprimer un user</h2>

        <input type="text" id="inputIdUtilisateur" placeholder="id utilisateur" />
        <input type="text" id="inputIdMatch" placeholder="id match"/>
        <input type="text" id="statutWin" placeholder="statutWin"/>

        <input type="text" id="inputNbKilled" placeholder="nombre killed"/>
        <input type="text" id="inputNbDeath" placeholder="nombre de death"/>
        <input type="text" id="inputNbAssist" placeholder="nombre d'assist"/>

        <button id="BouttonAddMatchToUser">Ajouter le match à l'utilisateur</button>

    </div>


    <div class="example-wrapper">
        <h2>Créer un compte</h2>

        <input type="text" id="inputPseudo" placeholder="Pseudo" />
        <input type="text" id="inputmdp" placeholder="Mot de passe"/>

        <button id="BouttonCreerCompte">Créer un compte</button>

    </div>


    <script type="text/javascript">

        //Cette requête est appelé au moment ou la liste des utilisateurs est récupérer par l'appel api, elle affiche ensuite un tableau
        function miseEnPlaceListeJoueur(data) {
            var table = document.createElement('table');
            table.border = '1';

            var thead = document.createElement('thead');
            var headerRow = thead.insertRow();
            Object.keys(data[0]).forEach(function(key) {
                var th = document.createElement('th');
                th.appendChild(document.createTextNode(key));
                headerRow.appendChild(th);
            });
            table.appendChild(thead);

            var tbody = document.createElement('tbody');
            data.forEach(function(item) {

                var row = tbody.insertRow();
                Object.values(item).forEach(function(value) {
                    var cell = row.insertCell();
                    cell.appendChild(document.createTextNode(value));
                });

                // Ajout du bouton pour consulter le profil
                var cellButton = row.insertCell();
                var button = document.createElement('button');
                button.innerHTML = 'voir le profil';
                button.addEventListener('click', function() {
                    recuperationDonneAffichageCompte(item.id)
                });
                cellButton.appendChild(button); 

            });

            table.appendChild(tbody);

            document.getElementById('divListeJoueur').appendChild(table);
        }



       
        //Récuperation des données de l'utilisateur
        function recuperationDonneAffichageCompte(idFicheJoueur){
            const script = document.createElement('script');
            script.src = "{{ asset('js/appelApi.js') }}";
            script.setAttribute('data-api-option', 'getSpecificAccount,'+ idFicheJoueur);

            document.body.appendChild(script);

            script.onload = function () {
                document.body.removeChild(script);
            };
        }




        //Permet d'executer une fonction js si on appui sur un boutton
        //document.getElementById('executeApiButton').addEventListener('click', recuperationDonneAffichageCompte);

        function miseEnPlaceVisionnageFicheJoueur(data) {

            var table2 = document.createElement('table2');
            table2.border = '1';

            var thead = document.createElement('thead');
            var headerRow = thead.insertRow();

            Object.keys(data).forEach(function(key) {
                var th = document.createElement('th');
                th.appendChild(document.createTextNode(key));
                headerRow.appendChild(th);
            });
            table2.appendChild(thead);

            var tbody = document.createElement('tbody');
            var row = tbody.insertRow();

            Object.values(data).forEach(function(value) {
                var cell = row.insertCell();
                cell.appendChild(document.createTextNode(value));
            });

            // Ajout du bouton pour consulter le profil
            var cellButton = row.insertCell();
            var button = document.createElement('button');
            button.innerHTML = 'Inverser le statut';
            button.addEventListener('click', function() {
                changementDuStatutDuProfil(data.id, data.statut)
            });
            cellButton.appendChild(button); 



            table2.appendChild(tbody);

            document.getElementById('affichageFicheJoeur').appendChild(table2);

        }


        //Permet d'inverser le statutDu profil (visible/masqué)
        function changementDuStatutDuProfil(idFicheJoueur,statutActuelFiche){
            const script = document.createElement('script');
            script.src = "{{ asset('js/appelApi.js') }}";
            script.setAttribute('data-api-option', 'updateStatut,'+ idFicheJoueur +','+ statutActuelFiche);

            document.body.appendChild(script);

            script.onload = function () {
                document.body.removeChild(script);
            };
        }





        //Permet de détecter la suppression l'appui bouton pour la supression d'un joueur
        document.getElementById('boutonSupressionUser').addEventListener('click', function () {
            var idUser = document.getElementById('inputIdSupression').value;
            supressionUser(idUser);
        }); 


        //Déclenchement de la supression d'un joueur avec lancement du script
        function supressionUser(idUser){
            const script = document.createElement('script');
            script.src = "{{ asset('js/appelApi.js') }}";
            script.setAttribute('data-api-option', 'suppressionUser,'+ idUser);

            document.body.appendChild(script);

            script.onload = function () {
                document.body.removeChild(script);
            };
        }




        //Permet de détecter l'appui du boutton pour l'ajout d'un match avec stat à un joueur
        document.getElementById('BouttonAddMatchToUser').addEventListener('click', function () {
            var idUtilisateur = document.getElementById('inputIdUtilisateur').value;
            var idMatch = document.getElementById('inputIdMatch').value;
            var boolStatutWin = document.getElementById('statutWin').value;
            var nbKilled = document.getElementById('inputNbKilled').value;
            var nbDeath = document.getElementById('inputNbDeath').value;
            var nbAssist = document.getElementById('inputNbAssist').value;
            AjoutMatchToUser(idUtilisateur, idMatch, boolStatutWin, nbKilled, nbDeath, nbAssist);
        }); 


        //Déclenchement de l'ajout d'un match avec stat à un joueur et lancement du script
        function AjoutMatchToUser(idUtilisateur, idMatch, idStatutWin, nbKilled, nbDeath, nbAssist){
            const script = document.createElement('script');
            script.src = "{{ asset('js/appelApi.js') }}";
            script.setAttribute('data-api-option', 'ajoutMatchToUser,'+idUtilisateur+','+idMatch+','+idStatutWin+','+nbKilled+','+nbDeath+','+nbAssist);

            document.body.appendChild(script);

            script.onload = function () {
                document.body.removeChild(script);
            };
        }  




        //Permet de détecter l'appui du boutton pour l'ajout d'un match avec stat à un joueur
        document.getElementById('BouttonCreerCompte').addEventListener('click', function () {
            var pseudo = document.getElementById('inputPseudo').value;
            var statut = "privé"
            var nbMatch = 0
            var mdp = document.getElementById('inputmdp').value;
            creationCompteUser(pseudo, statut, nbMatch, mdp);
        }); 


        //Déclenchement de l'ajout d'un match avec stat à un joueur et lancement du script
        function creationCompteUser(pseudo, statut, nbMatch, mdp){
            const script = document.createElement('script');
            script.src = "{{ asset('js/appelApi.js') }}";
            script.setAttribute('data-api-option', 'createAccount,'+pseudo+','+statut+','+nbMatch+','+mdp);

            document.body.appendChild(script);

            script.onload = function () {
                document.body.removeChild(script);
            };
        }







    </script>



{% endblock %}